body {
  margin: 0px;
  background-color: white;
}

.wild {
  height: 100px;
}
.animals {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
}

.tiger {
  background-image: url("https://images.unsplash.com/photo-1454023492550-5696f8ff10e1?q=80&w=1174&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.lion {
  background-image: url("https://images.unsplash.com/photo-1604941138781-78fbefc0d888?q=80&w=1217&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.polar-bear {
  background-image: url("https://images.unsplash.com/photo-1576870755431-edd028371a7d?q=80&w=1174&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.footer {
  background-color: blueviolet;
}
